/vendor/
/logs/*
!/logs/README.md
/.idea/
/cache/*
!/cache/git.keep
/src/settings.php
/templates/script/product.twig
/templates/script/products.twig
/templates/script/cart.twig
/templates/script/registration.twig
/templates/script/delivery.twig
/templates/script/checkout.twig
/templates/script/layout.twig