<h4>Next steps</h4>
<div class="buttons">
    <a href="{{ path_for('registration') }}"><i class="fas fa-user" title="go to registration"></i>Registration</a>
    <a href="{{ path_for('delivery') }}"><i class="fas fa-truck"
                                                    title="go to delivery"></i>Delivery</a>
    <a href="{{ path_for('payment') }}"><i class="fas fa-money-bill-alt"
                                            title="go to payment"></i>Payment</a>
    <a href="{{ path_for('checkout') }}"><i class="	fas fa-flag-checkered"
                                                    title="go to checkout"></i>Checkout</a>
</div>