body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #636363;
    font-size: 1em;
}

h1 {
    color: #067e25;
    font-weight: 200;
}

a {
    color: #636363;
}

#content {
    clear: both;
    width: auto;
    text-align: center;
}

.product {
    display: inline-block;
    border: 1px solid #067e25;
    padding: 20px;
    margin: auto;
}

.price span {
    color: #067e25;
}

.products .product {
    width: 200px;
    height: 400px;
    margin-bottom: 20px;
}

.products .product .name {
    height: 60px;
}

.products .product img {
    max-width: 160px;
    max-height: 160px;
}

.product img {
    max-width: 280px;
}

#header {
    position: absolute;
    right: 10px;
    top: 10px;
}

.cart {
    margin: auto;
}

.cart td {
    padding: 5px;
}

i {
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 10px;
}

i.shake {
    animation: shake 1s;
    color: #ac2925;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#cart_icon {
    margin-right: 0;
}

#cart_count {
    color: #ac2925;
    font-size: 0.7em;
    text-decoration: none;
    margin-right: 10px;
}

.product_quantity {
    width: 50px;
}

.product_remove {
    font-size: 0.9em;
}

form {
    display: inline-block;
}

label {
    margin-right: 10px;
}

input[type='submit']{
    float: right;
}

.description span {
    font-weight: bold;
}