<script type="text/javascript">
    console.log("Insert your custom checkout page javasript here");
    {#
    //SAREhub Integration
    sareX_params.tag = {"_userId":null,"_email":null,'_cartpurchased' : {'cart_id' : '{{ sessionId }}'}};
    console.log(sareX_params.tag);
    #}
</script>