<script type="text/javascript">
    console.log("Insert your custom delivery page javasript here");
    {#
    //SAREhub Integration
    sareX_params.tag = {"_userId":null,"_email":null,'_cartdelivery' : {'cart_id' : '{{ sessionId }}'}};
    console.log(sareX_params.tag);
    #}
</script>