<h4>Next steps</h4>
<div class="buttons">
    <a href="{{ path_for('registration') }}">Registration<i class="material-icons" title="go to registration">shopping_basket</i></a>
    <a href="{{ path_for('delivery') }}">Delivery<i class="material-icons" title="go to delivery">shopping_basket</i></a>
    <a href="{{ path_for('checkout') }}">Checkout<i class="material-icons" title="go to checkout">shopping_basket</i></a>
</div>