{% extends "layout.twig" %}

{% block title %}Cart{% endblock %}
{% block content %}
    <h1>Checkout page</h1>
    <p>This is the page where you see checkout confirmation</p>
    {% if sessionId is empty %}
        <p>No cart found, please annd products to cart and click purchase again</p>
    {% else %}
        <p>Cart summary: {{ total }} pln</p>
        <p>Cart id: {{ sessionId }} was cleaned after purchase confirmation</p>
    {% endif %}
{% endblock %}

{% block script %}
    {% include 'script/checkout.twig' %}
{% endblock %}
