{% extends "layout.html" %}

{% block title %}Cart{% endblock %}
{% block content %}
    <h1>Checkout page</h1>
    <p>This is the page where you see checkout confirmation</p>

    <h4>Next steps</h4>
    <a href="/"><i class="fas fa-home" title="go to start"></i>Start</a>
{% endblock %}

{% block script %}
    {% include 'script/checkout.twig' %}
{% endblock %}
