{% extends "layout.html" %}

{% block title %}Cart{% endblock %}
{% block content %}
    <h1>Checkout page</h1>
    <p>This is the page where you see checkout confirmation</p>
{% endblock %}

{% block script %}
    {% include 'script/checkout.twig' %}
{% endblock %}
