{% extends "layout.html" %}

{% block title %}Cart{% endblock %}
{% block content %}
    <h1>Delivery page</h1>
    <p>This is the page where you choose your delivery options</p>

    {% include 'include/cart_buttons.twig' %}
{% endblock %}

{% block script %}
    {% include 'script/delivery.twig' %}
{% endblock %}
