<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='//use.fontawesome.com/releases/v5.6.3/css/all.css' rel='stylesheet' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %} - Feed</title>
    {% endblock %}
</head>
<body>
<div id="header"><a href="{{ path_for('cart') }}"><i class="fas fa-shopping-cart" title="go to cart"></i>Cart</a></div>
<div id="content" data-session-id="{{ sessionId }}">{% block content %}{% endblock %}</div>
{% include 'script/layout.twig' %}
{% block script %}{% endblock %}
</body>
</html>