{% extends "layout.html" %}

{% block title %}Registration{% endblock %}
{% block content %}
    <h1>Registration page</h1>
    <p>This is the page where you leave your personal data (register)</p>

    {% include 'include/cart_buttons.twig' %}
{% endblock %}

{% block script %}
    {% include 'script/registration.twig' %}
{% endblock %}
