{% extends "layout.twig" %}

{% block title %}Registration{% endblock %}
{% block content %}
    <h1>Registration page</h1>
    <p>This is the page where you leave your personal data (register)</p>
    <form action="{{ path_for('session') }}" method="POST">
        <p><label for="email">Email</label><input type="text" name="email" value="{{ email }}"/><br/></p>
        <p><input type="submit" value="Save"/></p>
    </form>

    {% include 'include/cart_buttons.twig' %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        getLocation();
    </script>
    {% include 'script/registration.twig' %}
    {% if sarehub_pixel.domain %}
        {% include 'script/sarehub_pixel/registration.twig' %}
    {% endif %}
    {% if sarehub_js.domain %}
        {% include 'script/sarehub_js/registration.twig' %}
    {% endif %}
{% endblock %}
