<?php
return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header
        'appName' => 'App Name',
        'currency' => 'PLN',

        // Renderer settings
        'renderer' => [
            'template_path' => __DIR__ . '/../templates/',
            'cache_path' => false
        ],

        // Monolog settings
        'logger' => [
            'name' => 'slim-app',
            'path' => isset($_ENV['docker']) ? 'php://stdout' : __DIR__ . '/../logs/app.log',
            'level' => \Monolog\Logger::DEBUG,
        ],

        // Feed settings
        'feed' => [
            'url' => 'http://feed.url',
            'cache' => __DIR__ . '/../cache/feed.xml',
            'max_products_on_page' => 0,
            'extra_fields' => [ //namespace => [field1, field2...]
                //'ns2' => ['Country', 'Duration', 'City', 'RoomDescription']
            ]
        ],

        //Integrations
        'sarehub_pixel' => [
            'domain' => ''
        ],
        'sarehub_js' => [
         'domain' => ''
        ],
        'revhunter_js' => [
            'products' => 0,
            'cart' => 0,
            'checkout' => 0,
            'product' => 0
        ],
        'facebook_js' => [
            'id' => ''
        ]
    ],
];
